* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #222;
  color: white;
  overflow-y: auto;
}

.content.expanded nav{
  width: 80px;
}
