.sidebar {
  width: 196px;
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
  padding: 8px 4px;
}

.sidebar nav{
  width: 100%;
  text-align: start;
}

.sidebar.collapsed nav{
  text-align: center !important;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

.sidebar nav ul li {
  margin: 12px 8px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.sidebar-icon {
  width: 24px;
  height: 20px;
  margin: auto 0;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.sidebar.collapsed nav ul li a {
  justify-content: center;
  gap: 0;
}

.toggle-btn {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-top: auto;
  align-self: stretch;
  text-align: center;
}

.nav-title{
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative; 
}

.profile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-photo {
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto 8px;
}

.sidebar.collapsed .profile{
  padding-top: 16px;
}

.profile-info{
  flex: 1;
  text-align: left;
}

#profile-name{
  font-size: 16px;
  font-weight: 600;
  margin: 4px;
}

#profile-title{
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 200;
  margin: 4px;
}

.link-container{
  width: 18px;
  height: 22px;
  padding: 1px;
  align-self: flex-end;
}

.external-link{
  margin-top: 1px;
  height: 0.8rem;
  width: 0.8rem;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 8px;
}

.section-name {
  padding-top: 16px;
}